@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  background: linear-gradient(90deg, #1E46A3 0%, #000000 50%, #C12A23 100%);

}

.container_titulo {
  align-items: center;
  text-align: center;
  margin-top: 2rem;
}

.titulo {
  font-family: 'poppins';
  font-weight: 400;
  color: white;
}